<div class="tab-pane fade" id="recordings">
    <div class="filter-recording" id="filterRecordingRow">
        <a href="#" role="button" id="tabRecordingRefresh"><img src="/img/refreshbutton.png"/></a>
        <img src="/img/WEB-ICON-23.png">
        <input class="recording-search-box" type="text" id="searchRecordings"/>
    </div>
    <div class="col-md-10 col-md-offset-1 recordings" id="recordingList"></div>
</div>
